.equipment-container {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.equipment-slider {
  width: 100%;
  padding: 0;
  margin: 0;
}

.equipment-card {
  cursor: pointer;
  width: 240px;
  height: 160px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0 !important;
}

.equipment-type {
  line-height: 24px;
  font-size: 16px;
  padding: 20px 10px;
}

.equipment-details {
  position: absolute;
  bottom: 16px; 
  right: 16px; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}


@media (min-width: 1024px) {

  .equipment-slider .swiper-wrapper {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    transform: none !important;
    width: 100% !important;
  }

  .equipment-container {
    display: block;
    max-height: 160px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0; 
  }

  .equipment-container.is-expanded {
    max-height: 1000px; 
  }

  .expand-button {
    display: flex; 
  }

.equipment-card {
  position: relative;
  height: 160px;
  width: 100%;
}

.equipment-type {
  padding: 10px;
}

.equipment-details {
  position: absolute;
  bottom: 16px; 
  right: 16px; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

.equipment-details img.go-icon {
  width: 12px;
  height: auto;}

  .pagination-equipment {
    display: none;
  }
}