
.equipment-card {
  cursor: pointer;
  width: auto;
  min-width: 0;
  height: 160px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0 !important;
  gap: 15px;
}

.equipment-type {
  line-height: 24px;
  font-size: 16px;
  padding: 20px 10px;
}

.equipment-details {
  position: absolute;
  bottom: 16px; 
  right: 16px; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}


@media (min-width: 1024px) {


  .equipment-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px 32px;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: none;
    margin: 0 auto;
  }

.equipment-card {
  position: relative;
  height: 160px;
  width: 25%;
}

.equipment-type {
  padding: 5px;
}

.equipment-details {
  position: absolute;
  bottom: 16px; 
  right: 16px; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

.equipment-details img.go-icon {
  width: 12px;
  height: auto;}

  .pagination-equipment {
    display: none;
  }
}