
.prices-desktop-header {
  display: none;
}

.prices-card {
  width: 260px;
  height: auto;
  gap: 15px;
  min-height: 160px;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-between;
}


.label-mobile {color: gray;}

.prices-slider {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.order-container {
  position: relative;
  display: flex;
}

.services-column, .prices-column, .deadline-column {
  height: 32px;
  gap: 25px;
  font-size: 13px;
}

.deadline-column {
  display: inline-block;
  width: 50%;
}

.order-details {
align-self: flex-end;
margin-top: 10px;
margin-left: auto;
display: flex;
border: none;
background: transparent;
cursor: pointer;
padding: 0;
}

.order-icon {
  top: 0;
  left: 0;
  width: auto;
  height: 32px;
  object-fit: contain;
}

.vat-info {
  margin: 0 20px;
  padding: 20px;
  line-height: 24px;
  font-size: 16px;
}

.proposal {
  display: flex;
  flex-direction: column;   
  align-items: flex-start;     
  justify-content: center;  
  gap: 12px;                
  padding-left: 20px;
  margin: 0 20px;
}
.proposal strong {
  display: block; 
  font-size: 16px;
  line-height: 24px;
  color: black;
 font-weight: 700;
}

.proposal-button-group {
  display: flex;   
  align-items: center; 
  gap: 8px;          
  margin-top: 4px;  
}

.get-icon img {
  width: 40px;
  height: 40px;
  display: block;
}

.get-icon {
  display: flex;            
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;           
}

.web-footer {
  color: gray;
  padding: 20px;
  text-align: center;
}


@media (min-width: 1024px) {


  .label-mobile {
    display: none;
  }

  .prices-desktop-header {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1.5fr 140px;
    color: #7e7e7e;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 15px 35px;
  }

  .prices-slider .swiper-wrapper {
    flex-direction: column !important;
    display: block; 
    transform: none;
    gap: 0;
  }

  .prices-card {
    display: grid !important;
    grid-template-columns: 3fr 1.5fr 1.5fr 140px;
    width: 100% !important; 
    height: auto;
    min-height: 64px;
    background: white;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 0;
    color: black;
    font-weight: 400;
    align-items: center;
    justify-self: center;
    text-align: left;
  }

  .pagination-prices {
    display:none;
  }

  .services-column br,
  .prices-column br,
  .term-info br {
    display: none;
  }


  .prices-card:first-child { border-radius: 8px 8px 0 0; }
  .prices-card:last-child { border-radius: 0 0 8px 8px; border-bottom: none; }


.vat-info {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 0;
}

.proposal {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
  padding-left: 0;
}

  .proposal strong {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 8px; 
    color: black;
    font-weight: 700;
  }

  .proposal-button-group {
    display: flex;
    margin-top: 0; 
    gap: 12px;  
  }

.web-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright {
  align-items: flex-start;
}

.disclaimer {
  align-items: flex-end;
}


}